/* Style de base */
main {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    /* Couleur de fond douce */
    margin: 0;
    padding: 20px;
}

/* Titres */
.page-title {
    text-align: center;
    font-size: 2.4em;
    /* Taille augmentée */
    margin-bottom: 20px;
    /* Espacement supplémentaire */

}

.description {
    text-align: center;
    font-size: 1.3rem;
}

.Event-title {
    font-size: 1.3rem;
    /* Plus grand pour meilleure lisibilité */
    text-align: justify;
    margin-bottom: 10px;
    line-height: 1.8;
    /* Espacement entre les lignes augmenté */
}

/* Marges entre sections */
.description,
.event-list,
.carousel {
    margin-top: 30px;
    /* Espacement augmenté */
    margin-bottom: 30px;

}

.event-section {
    margin: 30px 0;
    padding: 20px;
    border: 1px solid #ddd;
    /* Ligne de séparation */
    border-radius: 10px;
    /* Coins arrondis */
    background-color: #f9f9f9;
    /* Légère couleur de fond */

    /* Espacement entre les événements */
    .event-list ul {
        list-style: none;
        font-size: 1.6rem;
        padding: 0;
        margin: 0;
    }

    .event-list li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    /* Espacement entre les éléments de la liste */
    ul li+li {
        margin-top: 5px;
    }

    .event-list li:last-child {
        border-bottom: none;/
    }

    .event-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .event-content button {
        margin-left: 10px;
    }

    /* Carrousel */
    #carouselExampleSlidesOnly {
        height: 550px;
        width: 70%;
        /* Largeur du carrousel */
        overflow: hidden;
        margin: 0 auto;
        /* Centrer le carrousel */
    }

    .carousel-inner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}