main {
    font-family: Arial, sans-serif;
    /* Couleur de fond douce */
    margin: 0;
    padding: 20px;
}

/* Titres */
.page-title {
    text-align: center;
    font-size: 2.4em;
    /* Taille augmentée */
    margin-bottom: 20px;
    /* Espacement supplémentaire */

}

.description {
    text-align: center;
    font-size: 1.3rem;
}

.Event-title {
    font-size: 1.3rem;
    /* Plus grand pour meilleure lisibilité */
    text-align: justify;
    margin-bottom: 10px;
    line-height: 1.8;
    /* Espacement entre les lignes augmenté */
}

.event-section {
    margin: 30px 0;

    padding: 20px;
    border: 1px solid #ddd;
    /* Ligne de séparation */
    border-radius: 10px;
    /* Coins arrondis */
    background-color: #f9f9f9;
    /* Légère couleur de fond */
}

/* Espacement entre les événements */
.event-list ul {
    list-style: none;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

.event-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


ul li+li {
    margin-top: 5px;
}

.event-list li:last-child {
    border-bottom: none;/
}


.event-content button {
    margin-left: 10px;
}

@media (min-width: 768px) {
    .event {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;

    }

    .event-section {
        width: 65%;
    }

    .custom-carousel {
        width: 30vw;
    }
}